<div>
  <a [routerLink]="['/breakfast']"><span>Desayuno</span></a>
</div>
<div>
  <a [routerLink]="['/restday']"><span>Resto del día</span></a>
</div>

<label>Nombre Cliente <input [(ngModel)]="comanda.name" placeholder="Nombre Cliente" /> </label>

<div class="container">
  <div class="row">
    <div class="col s6">
      <span class="breakfast-view">Café americano $500</span>
      <span class="breakfast-view">Café con leche $700</span>
      <span class="breakfast-view">Sandwich de jamón y queso $1.000</span>
      <span class="breakfast-view">Jugo natural $700</span>
    </div>
    <div class="col s6">
      <span class="flow-text">Cosas seleccionadas</span>
    </div>
    <div class="col s12">Jus for i don't know!</div>
  </div>
</div>

<div><span>id: </span>{{ comanda.id }}</div>
<div><span>name: </span>{{ comanda.name }}</div>
