<div class="lines">
  <div class="menu">
    <a routerLink="/breakfast"
      ><span><i class="close material-icons">free_breakfast</i>Desayuno</span></a
    >
  </div>
  <div class="menu">
    <a routerLink="/restday"
      ><span><i class="close material-icons">fastfood</i>Resto del día</span></a
    >
  </div>
  <div class="menu">
    <a routerLink="/comandas"
      ><span><i class="close material-icons">restaurant_menu</i>Comandas</span></a
    >
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s6">
      <ul>
        <li
          *ngFor="let comanda of comandas"
          [class.selected]="comanda === selectedComanda"
          (click)="onSelect(comanda)"
        >
          <span class="breakfast-view text">{{ comanda.name }} $ {{ comanda.price }} </span>
        </li>
      </ul>
    </div>

    <div class="col s6 comanda-view">
      <div>
        <label>
          <input [(ngModel)]="client.name" placeholder="Nombre Cliente" />
        </label>
      </div>
      <div class="section">
        <app-orderdetail [comanda]="selectedComanda"></app-orderdetail>
      </div>
      <div class="divider"></div>
      <div class="section">
        <span class="flow-text text">Total: $</span>
        <span></span>
      </div>
    </div>

    <div class="col s12">Jus for i don't know!</div>
  </div>
</div>

<div><span>id: </span>{{ client.id }}</div>
<div><span>name: </span> {{ client.name }}</div>
