<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navbar-developer">
  <a class="navbar-brand" routerLink="/"> <img src="../../../assets/logoburger.png" width="40" alt="logoburgerqueen"/> {{app_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item active" *ngIf="isLogged">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <!--<li class="nav-item active" *ngIf="isLogged">
          <a class="nav-link" routerLink="waiter">Lista de Comandas</a>
        </li>-->
        <li class="nav-item active" *ngIf="isLogged">
            <a class="nav-link" routerLink="breakfeast">Desayuno</a>
        </li>
         <li class="nav-item active" *ngIf="isLogged">
            <a class="nav-link" routerLink="restoftheday">Resto del dia</a>
        </li>
        <li class="nav-item active" *ngIf="isLogged">
          <a class="nav-link" routerLink="chef">ChefBoss</a>
        </li>
        <li class="nav-item active" *ngIf="!isLogged">
          <a class="nav-link" routerLink="">Ingresa</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a href="#" class="nav-link" (click)="onLogout()">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>