<section class="mt-5 pt-2">
    <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agrega o edita una comanda</h5>
                        </div>
                        <div class="modal-body">
                            <form name="formBook" #formBook="ngForm" (ngSubmit)="onSaveBook(formBook)">
                                <input type="hidden" name="id" >
                                <input type="hidden" name="userUid" [value]="userUid">
                                <div class="form-group">
                                  <label for="titulo" class="col-form-label">Nombre de Cliente:</label>
                                  <input type="text" class="form-control" name="titulo">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="precio">Nº de Mesa</label>
                                        <input type="text" name="mesa" class="form-control" placeholder="2">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="precio">Mesero:</label>
                                        <input type="text" name="mesa" class="form-control" placeholder="Javier Orellana">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="idioma">Idioma</label>
                                        <select name="idioma" class="form-control">
                                          <option>Inglés</option>
                                          <option >Castellano</option>
                                        </select>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>        
        </div>
    </div>
  </section>