<section class="mt-5">
        <h2>Comandas Pendientes</h2>
        <div id="books" class="mt-5">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let command of commands">
                  <div class="card_book">
                    <div class="card">
                      <div class="card-body text-center">
                        <p></p>
                      </div>
                        <a class="btn btn-block btn-primary" target="_blank">Terminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>


