.transparent-developer{
  background-color: #E09E5D  !important;
  border: none !important;
}
.init{
  margin: 0 auto;
  display:block;
  text-align:left;
}
.search{
  float:right;
}
.btn-outline-danger{
  color:#604c8d  !important;
  border:none  !important;
}
.btn-outline-danger:hover {
  border-bottom:1px solid  #604c8d  !important;
  background-color: #fff !important;
}
.center{
  text-align:center;
  padding: 5px 0;
}
.card{
  background-color: rgba(96,76,141, 0.1);
}
.products{
  color: #604c8d;
  font-weight: 600;
  font-family: 'Quicksand';
}
/* #604c8d violeta
rgb(240, 240, 240) rosa
#333333 gris
*/