<section class="mt-5 pt-3" *ngIf="commands.length > 0; else noCommands">
    <h2>Comandas Pendientes</h2>
    <div *ngFor="let command of commands; index as i">
      <div class="card transparent-developer" style="width: 16rem;">
        <div class="card-body" >
          <h5 class="card-text">Comanda Nª {{i+1}}</h5>
          <h5 class="card-text">Nombre Cliente: {{command.nameClient}}</h5>
          <p class="card-text">Número de Mesa: {{command.tableNumber}}</p>
          <p class="card-text">Mesero: {{command.user}}</p>
        </div>
        <ul class="list-group list-group-flush transparent-developer">
          <li class="list-group-item transparent-developer">{{command.products}}</li>
        </ul>
        <div class="card-body">
          <button class="btn-primary">Estado: Realizado</button>
        </div>
      </div>
    </div>  
  </section>
  <ng-template #noCommands>
    <p>No hay comandas pendientes o creadas</p>
  </ng-template>