/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Dosis' !important;
  background-position: center;
  background-size: cover;
  width:100%;
  height:auto;
  left: 0;
  top:0; 
  color:#333333 !important;
}
